{% if grafana_gitsync_enabled | default(true) | bool %}
[feature_toggles]
provisioning = true
kubernetesDashboards = true

[provisioning]
max_repositories = 0
{% endif %}

{% if grafana_metrics | default(false) | bool %}
[metrics]
enabled = true
interval_seconds = 10
{% endif %}

{% if grafana_setup_renderer -%}
[rendering]
renderer_token = {{ grafana_renderer_token }}
{% endif %}

{% if grafana_custom_config -%}
{{ grafana_custom_config }}
{% endif %}
