{% set _name = item.name if item is mapping else item %}
{% set _branch = item.branch if (item is mapping and item.branch is defined) else grafana_dashboards_repo_version %}
{% set _url = item.url if (item is mapping and item.url is defined) else grafana_dashboards_repo_url %}
{% set _token = item.token if (item is mapping and item.token is defined) else grafana_gitsync_token %}
apiVersion: provisioning.grafana.app/v0alpha1
kind: Repository
metadata:
  name: "repo-{{ _name | regex_replace('[^a-zA-Z0-9-]', '-') | lower }}"
  namespace: default
spec:
  sync:
    enabled: true
    intervalSeconds: 30
    target: folderless
  workflows:
    - branch
  title: "Dashboard Folder: {{ _name }}"
  type: github
  github:
    url: "{{ _url }}"
    branch: "{{ _branch }}"
    path: "dashboards/{{ _name }}"
{% if _token | default('') != '' %}
secure:
  token:
    create: "{{ _token }}"
{% endif %}
