apiVersion: provisioning.grafana.app/v0alpha1
kind: Repository
metadata:
  name: grafana-dashboards
  namespace: default
spec:
  sync:
    enabled: true
    intervalSeconds: 30
    target: folderless
  workflows:
    - write
    - branch
  title: "Grafana Dashboards"
  type: github
  github:
    url: "{{ grafana_dashboards_repo_url }}"
    branch: "{{ grafana_dashboards_repo_version }}"
    path: "{{ grafana_dashboards_repo_path }}/"
{% if grafana_gitsync_token | default('') != '' %}
secure:
  token:
    create: "{{ grafana_gitsync_token }}"
{% endif %}
